.header{
    background-color: #4654e1;
    color: white;
    display: flex;
    justify-content: space-between;
}
.title{
    padding-left: 20px;
}

form h4{
    padding-right: 30px;
}
form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background-color: #4654e1;
}
.searchBar{
    display: flex;
    justify-content: center;
    position: relative;
    padding-right: 20px;
}
.searchText{
    width: 0;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 0.2s linear;
}
.searchText:focus{
    outline: none;
}
.searchIcon{
    font-size: xx-large;
    background-color: #4654e1;
    color: white;
    position: absolute;
    right: 20px;
    display: grid;
    place-items: center;
}
.searchBar:hover > .searchText{
    background-color: white;
    width: 10rem;
    padding: 5px 25px;
}
.searchBar:hover > .searchIcon{
    background-color: white;
    color: #4654e1;
    border-radius: 50%;
}
